.RegistrForm{
    padding: 30px;
    padding-top: 40px;
}

.RegistrForm__inputBlock{
    position: relative;
}

.tinput{
    border: none;
    font-size: 24px;
    padding: 0 5px;
    margin: 10px 0;
    padding-top: 22px;
}

.RegistrForm__doSubmit{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #84848e;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.RegistrForm__doLog{
    padding: 10px;
    background: #99ff66;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.input__inside{
    position: absolute;
    z-index: 25;
    color: #54545e;
    left: 5px;
    top: 0px;
}

@media screen and (max-width: 600px){
    .RegistrForm input{
        width: 100%;
    }

    .RegistrForm__doLog{
        width: 100%;
    }

    .RegistrForm{
        padding: 30px;
        padding-top: 40px;
        width: 100vw;
    }
}
