.itemListSort{
    width: 100%;
}

.itemListSort .itemListSort__filter{
    margin: 10px 0;
}

.itemListSort .itemListSort__filter select{
    font-size: 1.2rem;
    background: #54545e;
    color: white;
}

