.header{
    display: flex;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
}

.header__logo{
    max-width: 100px;
}

.header__logo img{
    width: 100%;
    height: auto;
}

.navbar{
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.navbar__item{
    margin: 0 15px;
    font-size: 1.5rem;
}











